@import './../../theme/theme.scss';

.ai-home-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;

  .ai-centered-component {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -90px;

    .ai-title-container {
      font-family: 'Playfair Display', serif;
      font-size: 60px;
      font-weight: bolder;
      margin-bottom: 40px;
      color: $text-gray;
      width: 550px;
      line-height: 70px;
      position: relative;

      .ai-green-highlight {
        color: $text-green;
      }

      .ai-subtitle {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        color: $ai-purple;
        position: absolute;
        left: 80%;
        top: 80%;
        transform: translateX(-50%) rotate(-10deg);
        pointer-events: none;
        opacity: 0.85;
        width: 350px;
        text-align: center;
        z-index: 2;
      }
    }

    .ai-search-container {
      display: grid;
      grid-template-columns: 6fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;

      .ai-ingredient-tag-container{
        position: relative;
      }
      .ai-ingredients-tags {
        position: absolute;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .ai-product-search-container,
      .ai-ingredient-search-container {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .ai-ingredient-search-container {
        flex: 2;
      }
      .ai-search-button-container {
        display: flex;
        align-items: flex-end;

        .ai-inner-search-button-container {
          padding-bottom: 6px;
          display: flex;
          align-items: center;
          height: 60%;
          flex: 1;

          .ai-search-button {
            display: flex;
            flex: 1;
            height: 90%;
          }
        }
      }
    }
  }
  .search-redirect {
    position: absolute;
    bottom: 25px;
  }
}
